@tailwind base;
@tailwind components;
@tailwind utilities;

.sp-texts h1 {
 display: flex;
 justify-content: end;
  color: #ca2531;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin-right: 17.5%;
}
.header-img {
  background-image: url("./assets/images/Rectangle\ 2110.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 330px;
  width: 100%;
}
.sidebar-box {
  border-radius: 10px;
  background: #ffd098;
  padding: 12px 10px 10px 10px;
}
.sp-text p {
  color: #121212;
  font-weight: 700;
  line-height: 23px;
  justify-content: end;
  display: flex;
  margin-right: 3%;
}
.sidebar-head {
  font-family: sans-serif;
  line-height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}
.sidebar-text {
  font-family: sans-serif;
  color: rgba(18, 18, 18, 0.64);
  line-height: 24px;
}
.d-fles {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.profile-pic-img {
  width: 50%;
}
.profile-pic-img label {
  height: 30vh;
}
.yes-btn {
  color: #da3545;
  width: 80px;
  height: 40px;
  cursor: pointer;
  font-size: 15px;
  border: 1px solid #da3545;
  border-radius: 10px;
  margin-bottom: 4px;
}
.group-label {
  justify-content: space-between;
  display: flex;
  padding: 8px 0;
  align-items: center;
  color: #da3545;
  font-size: 14px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.form-groups {
  display: flex;
  flex-direction: column;
}
.side-content-head {
  color: #90212c;
  font-size: 33px;
  font-family: sans-serif;
  font-weight: 600;
  line-height: normal;
}
.yes-btn:hover {
  background-color: #da3545;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
}
.sidebar-menu ul {
  list-style-type: none;
  padding-left: 0px;
  color: rgba(18, 18, 18, 0.64);
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 17px;
  font-weight: 500;
}
.sidebar-menu .list-indexs {
  text-decoration: none;
  display: flex;
  cursor: pointer;
  justify-content: start;
  flex-shrink: 0;
  gap: 20px;
  align-items: center;
  color: rgba(18, 18, 18, 0.64);
}
.sidebar-menu .list-indexs span {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: white;
  align-items: center;
  border-radius: 50%;
  color: rgba(18, 18, 18, 0.64);
}
.active {
  background: #dc3545 !important;
  color: white !important;
}
.sp-logo {
  display: flex;
  justify-content: end;
}
.Owners {
  background-color: #90212c;
  color: #fff;
  border-radius: 30px;
  border: none;
  width: 180px;
  font-size: 18px;
  margin-top: 10px;
  height: 40px;
}
.Proceed-btn {
  border: none;
  background: #dc3545;
  color: white;
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
.Manager-Details {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  .sp-texts h1 {
   margin-right: 25%;
   }
   .sp-text p {
    
  margin-left: 4%;
  }
}
@media only screen and (max-width: 400px) {
  .sp-texts h1 {
    margin-left: 4%;
   }
   .sp-text p {
    
  margin-left: 4%;
  }
}
@media only screen and (max-width: 350px) {
  .sp-texts h1 {
    margin-left: 4%;
   }
   .sp-text p {
    
  margin-left: 4%;
  }
}
@media only screen and (max-width: 300px) {
  .sp-texts h1 {
    margin-left: 4%;
   }
   .sp-text p {
    
  margin-left: 4%;
  }
}
@media only screen and (max-width: 290px) {
  .sp-texts h1 {
    margin-left: 4%;
   }
   .sp-text p {
    
  margin-left: 4%;
  }
}
